In [1]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb = client['Employee']
empinfo=mydb.employeeinformation

In [3]:
record = {
    "First name":"Ashish",
    "Last name":"Kumar",
    "Department":"Machine Learning",
    "Qualification":"B.Tech",
    "Age":"25"
    }
empinfo.insert_one(record)

In [13]:
record = [{
    "First name":"Ashish",
    "Last name":"Kumar",
    "Department":"Machine Learning",
    "Qualification":"B.Tech",
    "Age":"25"
    },
  {
    "First name":"Diksha",
    "Last name":"Anand",
    "Department":"Deep Learning",
    "Qualification":"B.Tech",
    "Age":"25"
    },
    {
    "First name":"Kundan",
    "Last name":"Kumar",
    "Department":"Machine Learning",
    "Qualification":"B.Tech",
    "Age":"25"
    },
    {
    "First name":"Madhumita",
    "Last name":"Pal",
    "Department":"Deep Learning",
    "Qualification":"B.Tech",
    "Age":"25"
    },
    {
    "First name":"Niharika",
    "Last name":"Mondal",
    "Department":"Deep Learning",
    "Qualification":"M.Tech",
    "Age":"25"
    },
    {
    "First name":"Priyanka",
    "Last name":"Sarkar",
    "Department":"Deep Learning",
    "Qualification":"phd",
    "Age":"25"}]
empinfo.insert_many(record)

In [6]:
#Simple WAY OF Quesring

In [7]:
empinfo.find_one()

{'_id': ObjectId('5f848552ef38651fcac26b84'),
 'First name': 'Ashish',
 'Last name': 'Kumar',
 'Department': 'Machine Learning'}

In [10]:
# select * from employeeinformation
for record  in empinfo.find():
    print(record)

{'_id': ObjectId('5f848552ef38651fcac26b84'), 'First name': 'Ashish', 'Last name': 'Kumar', 'Department': 'Machine Learning'}
{'_id': ObjectId('5f848552ef38651fcac26b85'), 'First name': 'Diksha', 'Last name': 'Anand', 'Department': 'Deep Learning'}
{'_id': ObjectId('5f848552ef38651fcac26b86'), 'First name': 'Kundan', 'Last name': 'Kumar', 'Department': 'Machine Learning'}
{'_id': ObjectId('5f848552ef38651fcac26b87'), 'First name': 'Madhumita', 'Last name': 'Pal', 'Department': 'Deep Learning'}
{'_id': ObjectId('5f848e13f51b5e4d087c8f3e'), 'First name': 'Ashish', 'Last name': 'Kumar', 'Department': 'Machine Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f848f22f51b5e4d087c8f3f'), 'First name': 'Ashish', 'Last name': 'Kumar', 'Department': 'Machine Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f848f22f51b5e4d087c8f40'), 'First name': 'Diksha', 'Last name': 'Anand', 'Department': 'Deep Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f848f22f51b5e4d087c8f41'), 'First name': 'Kundan', 'Last name': 'Kumar', 'Department': 'Machine Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f848f22f51b5e4d087c8f42'), 'First name': 'Madhumita', 'Last name': 'Pal', 'Department': 'Deep Learning', 'Qualification': 'B.Tech', 'Age': '25'}

In [12]:
for record in empinfo.find({'First name': 'Ashish'}):
    print(record)

{'_id': ObjectId('5f848552ef38651fcac26b84'), 'First name': 'Ashish', 'Last name': 'Kumar', 'Department': 'Machine Learning'}
{'_id': ObjectId('5f848e13f51b5e4d087c8f3e'), 'First name': 'Ashish', 'Last name': 'Kumar', 'Department': 'Machine Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f848f22f51b5e4d087c8f3f'), 'First name': 'Ashish', 'Last name': 'Kumar', 'Department': 'Machine Learning', 'Qualification': 'B.Tech', 'Age': '25'}

In [14]:
#Query using Operator($in,$lt,$gt)

In [16]:
for record in empinfo.find({'Qualification':{'$in':['phd','M.Tech']}}):
    print(record)

{'_id': ObjectId('5f849299f51b5e4d087c8f47'), 'First name': 'Niharika', 'Last name': 'Mondal', 'Department': 'Deep Learning', 'Qualification': 'M.Tech', 'Age': '25'}
{'_id': ObjectId('5f849299f51b5e4d087c8f48'), 'First name': 'Priyanka', 'Last name': 'Sarkar', 'Department': 'Deep Learning', 'Qualification': 'phd', 'Age': '25'}

In [25]:
#And Operator
for record in empinfo.find({'Qualification':'phd','Age':{'$lt':35}}):
    print(record)

In [30]:
#Or Operator and operator
for record in empinfo.find({'$or':[{'First name':'Diksha'},{'Qualification':'B.Tech'}]}):
    print(record)

{'_id': ObjectId('5f849299f51b5e4d087c8f43'), 'First name': 'Ashish', 'Last name': 'Kumar', 'Department': 'Machine Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f849299f51b5e4d087c8f44'), 'First name': 'Diksha', 'Last name': 'Anand', 'Department': 'Deep Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f849299f51b5e4d087c8f45'), 'First name': 'Kundan', 'Last name': 'Kumar', 'Department': 'Machine Learning', 'Qualification': 'B.Tech', 'Age': '25'}
{'_id': ObjectId('5f849299f51b5e4d087c8f46'), 'First name': 'Madhumita', 'Last name': 'Pal', 'Department': 'Deep Learning', 'Qualification': 'B.Tech', 'Age': '25'}

In [35]:
inventory = mydb.inventory

In [36]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [38]:
for records in inventory.find({'size':{'h':14,'w':21,'uom':'cm'}}):
    print(records)

{'_id': ObjectId('5f84977bf51b5e4d087c8f49'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [39]:
#Update Query

In [40]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [42]:
inventory.update_one(
{"item":"sketch pad"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModeified":True}}
)

In [44]:
inventory.update_many(
{"qty":{"$lt":50}},
{"$set":{"size.uom":"in","status":"P"},
"$currentDate":{"lastModeified":True}}
)

In [46]:
inventory.replace_one(
    {"item":"paper"},
    {"item":"paper",
    "instock":[
        {"warehouse":"A","qty":60},
        {"warehouse":"A","qty":40}]})